{
  "presets": [
    ["@babel/preset-env", {
      "corejs": "2.0",
      "modules": false,
      "loose": true,
      "debug": true,
      "useBuiltIns": "usage"
    }],
    ["@babel/preset-typescript", {
        "isTSX": true,
        "allExtensions": true
    }],
    "@babel/preset-react"
  ]
}
